:root {
  --init-gradient: linear-gradient(45deg, #9b759b, #6daab1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: white;
}

main {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  z-index: 1;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

html {
  position: relative;
  min-height: 100vh;
  background: var(--init-gradient);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
  padding: 20px;
  overflow-x: hidden;
}


html::before {
  content: "";
  position: absolute;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0; 
  background-image: url(assets/images/noise.svg);
  background-repeat: repeat;
  background-size: 15%;
  z-index: -1;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

p {
  font-size: 1.15rem;
}

input {
  font-size: 1.15rem;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  transition: all 0.2s ease-in-out;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s ease-in-out;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}